#log_out{
	position:fixed;
	top:0px;
	right:0px;
}


.beautify{
	display: inline-block;
	width: 200px;
	height: 30px;
	background-color: #F07444;
	color: white;
	border: 1px solid #F07444;
	transition: .2s ease;
	font-family: 'Scope One', serif;
	font-size: 15px;
} 

.beautify:hover {
	background-color: transparent;
	color: black;
	transition: .2s ease;
}

/*login page*/
body#overall{
	background: url(http://static1.squarespace.com/static/54aaef8ee4b03ccd2a132a1c/t/54b0e707e4b02eb8a94d9256/1420879624266/6166830_orig.jpg?format=2500w) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'HelveticaNeue','Arial', sans-serif;
  position: absolute;
  left: 35%;
  top: 30%;
  width: 500px;
}

div.form-item{
	position: relative; 
	display: block; 
	margin-bottom: 20px;}
 input{transition: all .2s ease;}
 input.form-style{
	color:#8a8a8a;
	display: block;
	width: 90%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: transparent;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}

div.form-item .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }

.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#58bff6 !important;}

.submit{
	float:right;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #55b1df;
	border:1px solid #55b1df;
	border:none;
	color: #fff;
	font-weight: bold;
}

.submit:hover{
	background-color: transparent; 
	border:1px solid #55b1df; 
	color:#55b1df; 
	cursor:pointer;
}
.submit:focus{outline: none;}




/*each_question page*/




.btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  background-color: transparent;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

.btn:hover {
  background: grey;
  text-decoration: none;
  cursor:pointer;
}

.btn:focus {
	outline:none;
}

/*homepage modal for ask a question*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*home page questions layout*/
ul{
	list-style: none;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}

div#home_page{
	font-family:'HelveticaNeue','Arial', sans-serif;

}

#question_home:hover {
	text-decoration: underline;
}

body#home_page {
	margin:0;
	background: url(http://static1.squarespace.com/static/54aaef8ee4b03ccd2a132a1c/t/54b0e707e4b02eb8a94d9256/1420879624266/6166830_orig.jpg?format=2500w) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'HelveticaNeue','Arial', sans-serif;
}
/*http://picview.info/download/20150302/abstract-bow-tie-minimalistic-white-background-1600x1200.jpg*/

#wrapper {
     width: 300px;
     margin: auto;

}

#questions-container, #tag_section {
	border: 1px transparent;
    float: left;
    height: 450px;
    width: 500px;

}

#clear {
	clear: both;
}

#page {
	position:absolute;
	bottom: 10px;
}

#myBtn {
	position:fixed;
	top: 40px;
	right:0px;
}


/*each_page*/

div#each_page{
	font-family:'HelveticaNeue','Arial', sans-serif;
	width: 500px;
} 

#ask_question{
	position:fixed;
	top: 40px;
	right:0px;
}
































