<% if logged_in? %>
	<h1>Add a Question</h1>
	<form method="post" action="/questions">
		<input type=text placeholder="Post a question!" name="question">
		<input type="submit" value="Submit!">
	</form>



<% end %>