

<ul>
	<% Question.all.each do |question| %>
		<li><a href="/questions/<%= question.id %>"><%=question.question_text%></a></li>
	<% end %>
</ul>

<% if logged_in? %>
	<h4><form method="get" action="/questions/new">
					<input type="submit" value="Add a new question">
			</form></h4>

<% end %>






