

<ul>
	<% Question.all.each do |question| %>
		<li><a href="/questions/<%= question.id %>"><%=question.question_text%></a></li>
	<% end %>
</ul>

<% if logged_in? %>
	<h4><form method="get" action="/questions/new">
					<input type="submit" value="Add a new question">
			</form></h4>
<% else %>
	<h4><form method="get" action="/register">
					<input type="submit" value="Register to start!">
			</form></h4>

	<h4><form method="get" action="/login">
				<input type="submit" value="Login if you have an account!!">
		</form></h4>
<% end %>






