<body id="overall">

<h2>Login</h2>

<div class="form-item">
	<form method=post action=/login>
		<input class="form-style" type=text placeholder="Email" name="user[email]">
		<br>
		<input class="form-style" type=password placeholder="Password" name="user[password]">
		<br>
		<input class="submit" type=submit value="Login">
	</form>
</div>

<% if flash[:error] %>
	<%= flash[:error] %>
<% end %>

</body>