<body id="overall">



<form class="form-item" action="/register" method="post">
	<input class="form-style" type="text" placeholder="Your Name" name="user[name]"> 
	<br>
	<input class="form-style" type="text" placeholder="Your Email" name="user[email]">
	<br>
	<input class="form-style" type="text" placeholder="Choose your Password" name="user[password]">
	<br>
	<input class="form-style" type="text" placeholder="Confirm your Password" name="user[password_confirmation]">
	<input class="submit" type="submit" value="Register">
</form>

<% if flash[:error] %>
	<%= flash[:error] %>
<% end %>

<body id="overall">

