<html>
	<head>
		<title>Cheng's Quora</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script type="text/javascript" src='/js/application.js' ></script>
	</head>
	<body>

		<div id="navbar">
			<div>
				<a href="/"><h1>Quora: Ask me anything</h1></a>
			</div>
		</div>

		<% if logged_in? %>
			<h2>Welcome <a href="/users/<%= current_user.id %>"><%=current_user.name%></a></h2>

		<% end %>

		<%= yield %>

		<% if logged_in? %>
			<form method="post" action="/logout">
				<input class="beautify" type="submit" value="Log out">
			</form>

		<% elsif !logged_in? && @page!='login' && @page!='register' %>
			<h4><form method="get" action="/register">
							<input class="beautify" type="submit" value="Register to start!">
					</form></h4>

			<h4><form method="get" action="/login">
						<input class="beautify" type="submit" value="Login if you have an account!!">
				</form></h4>

		<% end %>

	</body>
</html>



